<% provide(:title, "Blog Index") %>
<h1>Blogのindexページです</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

   <%= link_to 'New blog', new_blog_path %>

  <% @current_user.blogs.each do |blog| %>
  <tr>
  <td><%= blog.title %></td>
  <td><%= image_tag(blog.blogpicture, size: "40x40") if blog.blogpicture? %></td> <%#carrierwaveによって自動的にblogpicture?論理値を返すメソッドが生成される。%>
  <td><%= sanitize blog.text, tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a table tr td em br strong),  attributes:  %w(id class href src) %></td> <%#Sanitzeヘルパーで許可するタグと属性を選別%>
  <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
  <td><%= link_to 'Destroy', blog_path(blog), method: :delete, data: { confirm: '本当に削除しますか？'}%></td>
  </tr>
  <% end %>
</table>
