<% provide(:title, "Blog Show") %>
<h1>BlogのShowページです</h1>

<p>
  <strong>Title</strong>
  <%= @blog.title %>
</p>

<p>
  <!--<strong>Picture</strong>-->
  <% if @blog.blogpicture? %>
       <% @blog.blogpicture.each do |picture| %>
       <%= image_tag(picture.url, size: "200x200") %>
       <% end %>
  <% end %>
</p>

<p>
  <strong>Text</strong>
  <%= simple_format(text_url_to_link(h(@blog.text)).html_safe) %> <!--simple_formatでBlog textの改行 && アプリケーションヘルパーのtext_url_to_linkでtextのリンクを有効にしてる -->
</p>


<% if user_signed_in? && current_user.id == @blog.user_id %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
<% end %>
