<% provide(:title, "プロフィール") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @user.avatar.url(:thumb) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= simple_format(text_url_to_link(h(@user.profile)).html_safe) %> <!--simple_formatでUser textの改行 && アプリケーションヘルパーのtext_url_to_linkでtextのリンクを有効にしてる -->
</p>

<% if current_user?(@user) %> <!-- サインインしてるuserの時のみ表示する user_helper参照-->
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% end %>
