<% provide(:title, "プロフィール") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @user.profile %>
</p>

<% if current_user?(@user) %> <!-- サインインしてるuserの時のみ表示する user_helper参照-->
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% end %>
