
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="picture">
    <%= image_tag(@post.picture.url) if @post.picture? %><!--validateエラーした時に画像を表示-->
    <%= f.label :picture %>
    <%= f.file_field :picture, accept: 'image/jpeg, image/png' %>
    <%= f.hidden_field :picture_cache %> <!--validateエラーした時に画像をキープ-->
  </span>

  <span class="picture2">
    <%= f.label :picture2 %>
    <%= f.file_field :picture2, accept: 'image/jpeg, image/png'  %>
    <%= f.hidden_field :picture2_cache %>
  </span>

  <span class="picture3">
    <%= f.label :picture3 %>
    <%= f.file_field :picture3, accept: 'image/jpeg, image/png'  %>
    <%= f.hidden_field :picture3_cache %>
  </span>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="user_id">  <!-- ユーザーIDの受け渡し-->
   <% f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render 'file_size' %>
