<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title> <%#ページのタイトル表示 appliication helper参照%>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
        <%= render 'layouts/header' %>
    <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>

    <!--Flashにメッセージがある時-->
    <% unless flash.empty? %>
       <script type="text/javascript" >
         <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
         <% end %>
       </script>
    <% end %>

    <%= debug(params) if Rails.env.development? %> <%#developmentの場合のみデバッグ情報を表示する%>
  </body>
</html>
