<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title> <%#ページのタイトル表示 appliication helper参照%>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
        <%= tinymce_assets %> <!--Tinymce -->
        <%= render 'layouts/header' %>
    <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
    <%= debug(params) if Rails.env.development? %> <%#developmentの場合のみデバッグ情報を表示する%>
  </body>
</html>
